package layout

templ Base() {
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<title>Home - MarkBin</title>
			<link href="/static/css/styles.css" rel="stylesheet"/>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
