package pages

import "github.com/aandrku/mark-bin/ui/templ/layout"

templ Signup() {
	@layout.Login() {
		<div>
			<form>
				<input id="username" placeholder="username"/>
				<input id="email" placeholder="email"/>
				<input id="password" placeholder="password"/>
				<button>Already have an account?</button>
				<a href="/login">Log in</a>
			</form>
		</div>
	}
}
